.main {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
  margin-bottom: 2rem;
  font-weight: 700;
}

.form {
  display: grid;
  grid-auto-flow: row;
  padding: 2rem;
  background-color: var(--grey);
  border-radius: 10px;
  min-width: 720px;
  gap: 1rem;
  margin-bottom: 2rem;
}

.form--title {
  font-size: 24px;
  text-align: center;
}

.form--item {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
}

.form--input {
  padding: 0.9rem 1.2rem;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.form--input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--grey), 0 0 0 4px var(--primary-color);
}

.form--submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--submit button {
  width: 10rem;
  height: 3.5rem;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--submit button:hover {
  background-color: var(--primary-darker-color);
}

.form--submit button:focus {
  background-color: var(--primary-darker-color);
  outline: none;
}

.border-gradient {
  animation: fadeIn 1s;
  border-radius: 10px;
  min-width: 720px;
  position: relative;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 3px;
}

.border-gradient-fadeOut {
  animation: fadeOut 1s;
  border-radius: 10px;
  min-width: 720px;
  position: relative;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 3px;
}

.result {
  border-radius: 10px;
  padding: 2rem;
  background-color: var(--grey);
  min-width: 720px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.copy-to-clipboard {
  background-color: #808080;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.spinner {
  border: 4px solid var(--white);
  border-left-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
